form {
	margin: 50px 0 20px 0;
	color: #FFFFF;
}

@font-face {
    font-family: crayonFont;
    src: local(crayonFont), url('../fonts/Sandbox-Melodrama.ttf') format('opentype');
}

/* 
label {
	font-weight: normal !important;
}
 */

textarea {
	height: 200px !important;
}

input[type=text], input[type=email], textarea {

	background-color: #ffffff !important;
	color: #333333;
	border: none;
	border-radius: 4px !important;
/* 	font-size: 22px !important; */
/* 	padding: 20px 15px; */
	width: 100%;
	position: relative;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.ulist {
	margin-bottom: 10px;
	padding: 10px;
	font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
	line-height: 1.7
}


input[type=submit] { 
	background: none;
	color: #333333;		
	text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    border: none;
/*     padding: 10px 16px; */
    font-size: 18px;
    line-height: 1.3333333;
/*     border-radius: 6px; */
}


/*
button[type=submit]:hover {
	color: #F77F25;
*/


input[type=submit]:hover {
	background: none;
	text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    border: none;
/*     padding: 10px 16px; */
    font-size: 18px;
    line-height: 1.3333333;
/*     border-radius: 6px; */
}

.specialisms {
	padding-top: 50px;
}

.filler-top {
	padding-top: 30px;
}

.lonely {
	padding-bottom: 50px;
}

.screenblurb {
	padding-bottom: 30px;
}

.fa-paper-plane-o {
	float: left;
	padding-top:5px
}

.slider-buffer{
	padding:30px 0px;
}

.researchQuestion img {
	margin: 25px auto;
	width: 70%;
}

.whereIfitin img{
	margin: 25px auto;
	width: 50%;
}

.researchQuestion > h4 {
	text-align: center;
}

.crayonArrowResearch {
	float: left;
	margin: 0 0 25px 50px;
	width:28%;
}


.crayonarrowbubble {
	margin-top:7%;
	float:right; 
	width:60%;
}

.crayoncaption {
	font-family: crayonFont;
	color: #993300;
	font-size:28px;
	letter-spacing: 2px;
}


.crayontitle{
	font-family: crayonFont;
	color: #993300;
	font-size:28px;
	letter-spacing: 2px;
}

.crayonheader {
	text-align: center;
	font-family: crayonFont;
	color: #ffffff;
	font-size:28px;
	letter-spacing: 2px;
}

.bodycrayon {
	/* text-align: center; */
	font-family: crayonFont;
	color: #993300;
	font-size:23px;
	letter-spacing: 2px;
}

.crayonCaptionResearch {
	/* 
text-align: center;
	font-family: crayonFont;
	color: #993300;
	font-size:28px;
 */
	margin: 50px 150px 50px 0;
}
/*
.formError {
	display: none;
	color: #FFFFF !important;
	padding-left: 15px !important;
}

#returnMessage {
	margin-top: 20px;
	color: #FFFFF;
	text-align: center;
}
 */